body {
    background: url("images/bg-1.jpg");
}

.title-container {
    margin: 30px 0;
}

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    font-weight: 700;
    color: white;
    letter-spacing: 12px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin: 40px 0;
    width: 80%;
}

.login-form {
    height: 55vh;
    background: rgba(255, 255, 255, 0.8);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-input {
    display: grid;
}

.form-input > label {
    margin: 10px 0;
    text-align: start;
    font-weight: 700;
    color: gray;

}

.form-input > input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fa51ac;
    background: transparent;
}

.form-input > input:focus {
    outline: none;
}

.show-pass {
    position: relative;
    bottom: 25px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

}

.show-pass :hover {
    transition: all, 0.5s;
    color: #fa51ac ;
}


.login-button {
    color: #fff !important;
    background: #fa51ac;
    border-radius: 15px;
    transition: all 0.5s;
}

.login-button:hover {
    -webkit-box-shadow: inset 1px 2px 25px 0px rgba(148, 60, 140, 1);
    -moz-box-shadow: inset 1px 2px 25px 0px rgba(148, 60, 140, 1);
    box-shadow: inset 1px 2px 25px 0px rgba(148, 60, 140, 1);
}

.error {
    font-size: 14px;
    color: #fa51ac;
}


.logout {
    margin: 30vh 0;
}

.logout > a {
    padding: 25px;
    width: 40%;
    text-align: center;
    text-decoration: none;
    color: #fff !important;
    background: #fa51ac;
    border-radius: 15px;
    transition: all 0.5s;
}

.logout > a:hover {
    -webkit-box-shadow: inset 1px 2px 25px 0px rgba(148, 60, 140, 1);
    -moz-box-shadow: inset 1px 2px 25px 0px rgba(148, 60, 140, 1);
    box-shadow: inset 1px 2px 25px 0px rgba(148, 60, 140, 1);
}
